/*
 * dn-web
 * Copyright 2011 Baidu Inc. All rights reserved.
 * 
 * path:    ui-link.css
 * desc:    链接控件样式
 * author:  zhaolei,erik
 * date:    $Date$
 */

.ui-link {
	color:#37a;
	cursor:pointer;
}

.ui-link-hover {
    color:#f60;
}

