/*
 * dn-web
 * Copyright 2011 Baidu Inc. All rights reserved.
 * 
 * path:    ui-mask.css
 * desc:    遮罩层样式
 * author:  zhaolei,erik
 * date:    $Date$
 */

.ui-mask {
    position:absolute;
    top:0;
    left:0;
    z-index:1000;
    background:#333;
    opacity: .2;
    filter:alpha(opacity=20);
}
