/*
 * dn-web
 * Copyright 2011 Baidu Inc. All rights reserved.
 * 
 * path:    ui-tooltip.css
 * desc:    帮助提示样式
 * author:  zhaolei,erik
 * date:    $Date$
 */

.ui-tooltip-layer {
    position:absolute;
    top:-10000px;
    left:-10000px;
    width:300px;
    border:1px solid #bea06e;
    background:#fff7db;
    padding:5px;
    line-height:19px;
    text-align:left;
    color:#333;
	z-index:2001;
}
.ui-tooltip-layer dt {
    padding:3px 0;
    font-size:14px;
    border-bottom:1px dashed #CCC;
}
.ui-tooltip-layer dd {
    font-size:12px;
    padding:3px 0 0;
}

.ui-tooltip {
    height:15px;
    width:15px;
    background:url(http://img.bdimg.com/adm/BlockSprites.png) no-repeat -155px -315px;
    margin:4px 10px 0 0;
    display:inline;
    float:left;
    cursor:pointer;
    zoom:1;
    _margin-left:5px;
}
