/*
 * dn-web
 * Copyright 2011 Baidu Inc. All rights reserved.
 * 
 * path:    ui-uploader.css
 * desc:    上传控件样式
 * author:  zhaolei,erik
 * date:    $Date$
 */


.ui-uploader {
    float: left;
    position: relative;
    overflow: hidden;
    width:275px;
    zoom: 1;
}

.ui-uploader-uploading {
    background: url("/assets/img/loading_20x20.gif") no-repeat scroll right center transparent;    
}

.ui-uploader-uploaded {
    background: url("/assets/img/upload_success.png") no-repeat scroll right center transparent;    
}

.ui-uploader .ui-button {
    z-index:1;
}

.ui-uploader .ui-text {
    margin-right:5px;
    position:relative;
    z-index:1;
}

.ui-uploader-file {
    position: absolute;
    font-size:15px;
    z-index: 10;
    left: 0;
    top: 0;
    opacity: 0;
	  filter:alpha(opacity=0);
    width: 248px;
    height: 24px;
	  margin-left:-2px;
}

.ui-uploader-preview {
    clear:both;
}

.ui-uploader-ifr {
    display: none;
}

/**
 * 媒体文件上传时的错误提示
 */
.uploader-mediaerr {
    position:relative;
    clear:both;
    margin:0 5px;
    zoom:1;
}
.uploader-mediaerr-info {
    color:#E17800;
    padding-left:25px;
    height:19px;
    line-height:19px;
}
.uploader-mediaerr-icon {
    position:absolute;
    top:0;
    left:0;
    background:url(img/BlockSprites.png) no-repeat -125px -315px;
    height:16px;
    width:16px;
}


.skin-uploadercsv {
    width:300px;
}

.skin-uploadercsv-file {
    font-size:19px;
}
