/*
 * dn-web
 * Copyright 2011 Baidu Inc. All rights reserved.
 * 
 * path:    ui-combobox.css
 * desc:    组合框样式
 * author:  zhaolei,erik
 * date:    $Date$
 */

/**
 * 基础样式
 */

.ui-combobox {
    padding:1px;
    font-size:12px;
    background:#FFF;
    border:1px solid #7E9DB9;
    font-family:STHeiti, SimSun;
}
.ui-combobox-disabled, .ui-combobox-readonly{
    border:1px solid #7E9DB9;
    background:#EEE;
    color:#999;
}
.ui-combobox-disabled .ui-combobox-cur, .ui-combobox-readonly .ui-combobox-cur{
    background:#EEE;
    color:#999;
}
.ui-combobox-cur {
    padding:0 0 0 2px;
    text-align:left;
    background:#FFF;
    line-height:16px;
    height:16px;
    color:#333;
    cursor:pointer;
    overflow:hidden;
    float:left;
    zoom:1;
}

.ui-combobox-cur-def {
    color:#CCC;
}

.ui-combobox-btn {
    float:right;
    width:16px;
    height:16px;
    background: #7E9DB9 url(http://img.bdimg.com/adm/BlockSprites.png) 0 -316px no-repeat;
    cursor:pointer;
}

.ui-combobox-layer {
    text-align:left;
	z-index:1002;
    padding:1px 1px 0;
    background:#FFF;
    border:1px solid #EDBB72;
    font-size:12px;
    position:absolute;
    font-family:STHeiti, SimSun;
    overflow-y:auto;
    overflow-x:hidden;
}

.ui-combobox-item {
    padding:0 5px;
    line-height:18px;
    height:18px;
    color:#666666;
    background:#FFFFFF;
    border:1px solid #FFF;
    margin:0 0 1px;
    cursor:pointer;
    overflow:hidden;
    zoom:1;
}

/**
 * 状态样式
 */

.ui-combobox-active, .ui-combobox-hover {
    border:1px solid #EDBB72;
}
.ui-combobox-hover .ui-combobox-btn {
    background-position:-16px -316px;
}
.ui-combobox-active .ui-combobox-btn {
    background-position:-32px -316px;
}


.ui-combobox-item-hover {
    border:1px solid #FAD9AC;
    background:#FFEDC9 url(http://img.bdimg.com/adm/InlineSprites.png) 0 0 repeat-x;
}
.ui-combobox-item-disabled {
    color: #CCC;
    cursor:default;
}
.ui-combobox-item-selected {
    border:1px solid #EDBB73;
    background:#FFDA9C url(http://img.bdimg.com/adm/InlineSprites.png) 0 -18px repeat-x;
}

/**
 * ComboBox Icon 集合
 */
.ui-combobox-icon-add {
    float:left;
    display:inline;
    margin:1px 5px 0 0;
    width:15px;
    height:15px;
    background:url(http://img.bdimg.com/adm/BlockSprites.png) no-repeat -69px -316px;
}
.ui-combobox-icon-list {
    float:left;
    display:inline;
    margin:1px 6px 0 0;
    width:14px;
    height:15px;
    background:url(http://img.bdimg.com/adm/BlockSprites.png) no-repeat 0 -347px;
}


/**
 * 白色金属渐变按钮样式
 * added by lixiang, 2011.03.24
 */

.skin-white-mcal-combobox-layer,
.skin-select-button-layer {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #A8ADB6;
    padding: 0;
    
}


.skin-white-mcal-combobox,
.skin-select-button {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #A8ADB6;
    cursor: pointer;
    display: inline-block;
    font-family: STHeiti,SimSun;
    font-size: 12px;
    height: 20px;
    line-height: 21px;
    text-indent: 3px;
    padding: 0;
}

.skin-white-mcal-combobox {
    float: left;
}

.skin-white-mcal-combobox-cur,
.skin-select-button-cur {
    color: #333333;
    cursor: pointer;
    float: left;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    padding: 0 2px;
    text-align: left;
}

.skin-white-mcal-combobox-btn,
.skin-select-button-btn {
    background: url("/assets/img/esui.png") repeat scroll 0 -108px transparent;
    cursor: pointer;
    float: right;
    font-size: 1px;
    height: 20px;
    width: 16px;
}

.skin-white-mcal-combobox-active .skin-white-mcal-combobox-btn,
.skin-select-button-active .skin-select-button-btn {
    background-position: 0 -89px;
}

.skin-white-mcal-combobox-hover .skin-white-mcal-combobox-btn,
.skin-select-button-hover .skin-select-button-btn {
    background-position: 0 -108px;
}

.skin-white-mcal-combobox-item,
.skin-select-button-item {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #666666;
    cursor: pointer;
    height: 18px;
    line-height: 19px;
    overflow: hidden;
    padding: 0 5px;
    margin: 0;
    border: none;
}

.skin-white-mcal-combobox-item-selected,
.skin-select-button-item-selected {	
    background: none repeat scroll 0 0 #E4EAF9;
    color: #333333;
}

.skin-white-mcal-combobox-item-hover,
.skin-select-button-item-hover {
    background: #EDF1FA;	
}

/**
 * 选区与按钮混合无边界样式
 *
 */


.skin-select-menu {
    -moz-border-radius: 2px 2px 2px 2px;
    background: #FFF;
    height: 24px;
    border: 1px solid #A8ADB6;
    font-family: Tahoma;
    font-size: 12px;
    height: 24px;
    padding: 0px;
}

.skin-select-menu-cur {
    background: none repeat scroll 0 0 #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    padding-left: 10px;
}

.skin-select-menu-btn {
    background: url("/assets/img/esui.png") repeat scroll -15px -93px transparent;
    height: 5px;
    margin-right: 5px;
    margin-top: 10px;
    width: 10px;
}

.skin-select-menu-hover .skin-select-menu-btn {
    background-position: -15px -93px;
}

.skin-select-menu-active .skin-select-menu-btn {
    background-position: -15px -88px;
}

.skin-select-menu-layer {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #A8ADB6;
    border-top: 2px solid #333;
    font-family: STHeiti,SimSun;
    font-size: 14px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
    padding: 0;
}

.skin-select-menu-item {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin:0;
    border: none;
}


.skin-select-menu-item-selected {	
    background: none repeat scroll 0 0 #E4EAF9;
    border: none!important;
    color: #333333;
    
}

.skin-select-menu-item-hover {
    background: #EDF1FA;
    border: none!important;	
}

/** 白色金属渐变按钮样式 end **/

/*
 * dn-web
 * Copyright 2011 Baidu Inc. All rights reserved.
 * 
 * path:    ui-pager.css
 * desc:    分页组件
 * author:  zhaolei,erik
 * date:    $Date$
 */

/**
 * 外围div
 */
.ui-pager {
    font-family:STHeiti, SimSun;
}

.ui-pager li {
    float:left;
    display:inline;
    margin:0 1px;
}

/**
 * 每个选项的基本样式
 */
.ui-pager span {
    display:inline-block;
    padding:0 6px;
    height:20px;
    line-height:20px;
}

/**
 * 分隔符，省略
 */
span.ui-pager-omit {
    padding:0 1px;
}

/**
 * 鼠标移上
 */
.ui-pager-hover span {
    background:#FFF;
    height:18px;
    line-height:18px;
    padding:0 5px;
    border:1px solid #999;
    cursor:pointer;
}

/**
 * 选中选项
 */
.ui-pager-selected {
    color:#fff;
    background:#999;
    font-weight:700;
}

/**
 * 不可用选项
 */
.ui-pager-disabled {
    color: #CCC;
}



/**
 * border样式分页组件
 * added by lixiang, 2011.03.24
 *
 */
 
.skin-border-pager li {
    color: #0033CC;
    cursor: pointer;
    font: 12px/16px Arial,Helvetica,sans-serif;
    height: 20px;
    overflow: hidden;
    padding: 0;
}


.skin-border-pager .skin-border-pager-prev,
.skin-border-pager .skin-border-pager-next,
.skin-border-pager .skin-border-pager-disabled {
    border: 1px solid #CCCCCC;
    padding: 0 5px;
    height: 18px;
    line-height: 18px;
}


.skin-border-pager .skin-border-pager-item {
    padding: 0 5px;
    border: 1px solid #CCCCCC;
    height: 18px;
    line-height: 18px;

}

.skin-border-pager-hover .skin-border-pager-prev,
.skin-border-pager-hover .skin-border-pager-next,
.skin-border-pager-hover .skin-border-pager-item {
    background:#E4E9F9;
    cursor:pointer;
}

.skin-border-pager .skin-border-pager-selected {
    color: #666666;
    font: bold Arial,Helvetica,sans-serif;
    background: none;
    border: none;
}

/** border 样式pager end **/
/*
 * dn-web
 * Copyright 2011 Baidu Inc. All rights reserved.
 * 
 * path:    ui-button.css
 * desc:    按钮样式
 * author:  zhaolei,erik
 * date:    $Date$
 */


.ui-table {
    font-size:12px;
}

.ui-table-head {
    background:#EEE;
}
.ui-table-head-row {
    border-width:1px 1px 1px 0;
    border-color:#CCC;
    border-style:solid;
    background:#EEE;
    zoom:1;
}

/* 表头单元格 */
.ui-table-head th {
    border-width:0 0 0 1px;
    border-color:#CCC;
    border-style:solid;
    font-weight:700;
    color:#666;
}

/* 表头单元格DIV容器 */
.ui-table-thcntr {
    height:27px;
    overflow:hidden;
    background:#EEE;
    border-top:1px solid #F6F6F6;
    border-left:1px solid #F6F6F6;
}

/* 表头单元格标题 */
.ui-table-thtext {
    line-height:28px;
    height:28px;
    margin:0 5px;
    display:inline;
    float:left;
}

/* 表头单元格排序标识 */
.ui-table-thsort {
    margin-top:9px;
    background:url(http://img.bdimg.com/adm/BlockSprites.png) -192px -260px no-repeat;
    height:10px;
    width:7px;

    font-size:1px;

    overflow:hidden;
    float:left;
}

.ui-table-thasc .ui-table-thsort {
    background-position: -192px -250px;
}

.ui-table-thdesc .ui-table-thsort {
    background-position: -192px -240px;
}

/* 表头单元格帮助标识 */
.ui-table-thhelp {
    height:15px;
    width:15px;
    background:url(http://img.bdimg.com/adm/BlockSprites.png) no-repeat -155px -315px;
    margin:6px 10px 0 0;
    display:inline;
    float:right;
    cursor:pointer;
    zoom:1;
}

/* 可排序列的表头样式Hover */
.ui-table-thcntr-hover {
    cursor:pointer;
    background:#FDE8C4;
    border-top:1px solid #FEF4E2;
    border-left:1px solid #FEF4E2;
}

/* 可排序列的表头样式sort */
.ui-table-thcntr-sort {
    cursor:pointer;
    background:#FDE8C4;
    border-top:1px solid #FCDCA6;
    border-left:1px solid #FCDCA6;
}

.ui-table-body {
	background:#FFF;
}

/* 行表格样式 */
.ui-table-body table {
    
}


.ui-table-row {
    border-width:0 1px 1px 1px;
    border-style:solid;
    border-color:#CCC;
    background:#FFF;

	zoom:1;

}

.ui-table-row .ui-combobox{

	float:left;
	top:2px;
}

/* 行表格移上 */
.ui-table-row-over table {
    background:#FFF9EE;
}

/* 行表格选中 */
.ui-table-row-selected table {
    background:#FFF4DD;
}

/* 行表格展开 */
div.ui-table-row-unfolded table {
    background:#FDE8C4;
}

/* 表格内容单元格 */
.ui-table-body td {
    padding-left:1px;
}

/* 表格内容单元格容器 */
.ui-table-tdcntr {
    line-height:28px;
    height:28px;
    overflow:hidden;
    padding:0 5px;
}

.ui-table-tdsel {
    height:25px;
    line-height:25px;
    padding-top:3px;
}

.ui-table-tdbreak {
    line-height:18px;
    padding:5px;
    overflow:hidden;
    word-wrap:break-word;
    word-break:break-all;
}

.ui-table-tdcntr a{zoom:1;}
.ui-table-tdcntr .ui-combobox {
    margin-top:4px;
}

/* 定义拖拽鼠标指针 */
.ui-table .ui-table-startdrag,
.ui-table .ui-table-startdrag .ui-table-thcntr {
    cursor:col-resize;
}

/* 拖拽显示的竖线 */
.ui-table-mark {
    height:400px;
    width:1px;
    overflow:hidden;
    background:#000;
    position:absolute;
}


/* 子表格收起展开按钮 */
.ui-table-subentry,
.ui-table-subentry-opened,
.ui-table-subentry-opened-hover {

	overflow:hidden;
    width:11px;
    height:11px;
    background-image: url(http://img.bdimg.com/adm/BlockSprites.png);
    background-repeat: no-repeat;
    cursor:pointer;
}

.ui-table-subentry {
    background-position: -61px -305px;
}

.ui-table-subentry-opened {
    background-position: -50px -305px;
}

.ui-table-subentry-hover {
    background-position: -39px -305px;
}

.ui-table-subentry-opened-hover {
    background-position: -28px -305px;
}



.ui-table-subrow {
	background:#FFF9EE;
	border-color:#CCC;
    border-style:solid;
    border-width:0 1px 1px;
    padding:1px 0 0 36px;

    zoom:1;
}
.ui-table-subrow .ui-table-head {
    background:transparent;
}
.ui-table-subrow .ui-table-head-row {
    border:0;
    background:transparent;
}
.ui-table-subrow .ui-table-head table {
    border-color:#EBDDC9;
    border-style:solid;
    border-width:0 0 1px;
}
.ui-table-subrow .ui-table-head th {
    color:#CDBD99;
    background:transparent;
    border:0;
}

.ui-table-subrow .ui-table td {
    padding-left:0;
}
    
.ui-table-subrow .ui-table-body {
    background:none;
}

.ui-table-subrow .ui-table-body .ui-table-row{
	background:transparent;
	border:0;
}
.ui-table-subrow .ui-table-thcntr {
    border:none;
	background:transparent;
    font-weight:400;
}
.ui-table-subrow a{padding-left:2px;}
.ui-table-subrow .ui-table-thtext{margin:0;}

.ui-table-subrow .ui-table-tdcntr{padding-left:0;}

.ui-table-subrow .ui-star {
    display:none;
}


.ui-table-subentryfield table {
	border:0;
}

.ui-table-thsel {
    padding-top:3px;
    height:24px;
}



/**
 * 白色主题table样式
 * added by lixiang, 2011.03.24
 *
 */
.skin-white-table-head .ui-table-head-row {
   border-width: 1px 1px 1px 1px;
   
}

.skin-white-table-row-over table {
    background: #E4EAFA;
}

div.skin-white-table-row-unfolded table {
    background: none repeat scroll 0 0 #FFFFFF;
}

.skin-white-table-subrow {
    background: none repeat scroll 0 0 #F8FBFF;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 0 1px 1px;
    padding: 0px;
}

.skin-white-table-subrow .ui-table-head table {
    border-width: 0;
}

.skin-white-table-subrow .ui-table-head .ui-table-head-row,
.skin-white-table-subrow .ui-table-body .ui-table-row {
    border-bottom: 1px solid #EEE;
}

.skin-white-table-subrow .ui-table-body .ui-table-row-over table {
    background: #E4EAFA;

}

.skin-white-table-subentryfield table td,
.skin-white-table-subrow table td {
    border-left: 0px;
}


.skin-white-table-subentry-opened  {
    background-position: 0 0;
}

.skin-white-table-subentry, .skin-white-table-subentry-opened, .skin-white-table-subentry-opened-hover {
    background-image: url("/assets/img/IconSprites2.png");
    height: 14px;
    width: 13px;
}

.skin-white-table-subentry {
    background-position: -14px 0px;
}

.skin-white-table-head th {
    border-width: 0;
    font-family: 宋体;
    font-weight: normal;
}

.skin-white-table-thcntr {
    height:36px;
    background:#EEE;
    border-left:none;
    border-right:1px solid #EEE;
}

.skin-white-table-thcntr-hover,
.skin-white-table-thcntr-sort {
    border-top-color: #F6F6F6;
    background: #EEEEEE;
}


.skin-white-table-body td {
    padding-left:0px; 
    border-left: 1px solid #eee;
}


.skin-white-table-thsort {
    background-position: -191px -260px;
    width: 9px;

}

.skin-white-table-tdcntr {
    border-left: 0px solid;
    border-color: #EEE;
}

.skin-white-table-tdcntr-sort {
    background: #FFF9D7;
}

.skin-white-table-row-over table .skin-white-table-tdcntr-sort{
    background: #E4EAFA;
}

.skin-white-table-thdesc .skin-white-table-thsort {
    background-position: -191px -240px;
}

/** 白色主题table end **/
/*
 * dn-web
 * Copyright 2011 Baidu Inc. All rights reserved.
 * 
 * path:    base.css
 * desc:    基础样式定义
 * author:  zhaolei,erik
 * date:    $Date$
 */

/**
 * ie6下最小宽度
 */
*html .ie6-out{margin-left:1004px;zoom:1;}
*html .ie6-in{position:relative;float:left;margin-left:-1004px;}

/**
 * reset部分
 */
body, div, p, dl, dt, dd, ul, ol, li, hr, pre, table, td, th, fieldset, legend,
input, button, textarea, form, img, h1, h2, h3, h4, h5, h6 {
    margin:0;
    padding:0;
}

table {
    border-collapse: collapse;
    table-layout:fixed;
}

fieldset, iframe, img {
    border: 0;
}

a img {
    display:block;
}

caption, th {
    text-align: left;
}

li {
    list-style: none;
}


/**
 * base部分
 * 
 */
html {
    background: #EEE;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    overflow-y: scroll;
}

a {
    color: #37a;
    text-decoration: underline;
    cursor:pointer;
}

a:hover {
    color: #f60;
}

/* 用于需要隐藏的元素 */
.hide {
    display:none;
}

/* 用于需要显示的元素 */
.show {
    display:block;
}


.wrapper {
    min-width:1004px;
    zoom:1;
}

.container {
    padding:10px;
    position:relative;
    zoom:1;
}

.footer {
    color:#aaa;
    padding:10px 0;
    text-align:center;
    line-height:20px;
    clear:both;
}
.footer a {
    color:#aaa;
}

/* 侧边栏部分 */
.sidebar {
    float:left;
    width:180px;
    background:#FFF;
    border:1px solid #CCC;
}

/* 主列表部分 */
.main {
    background:#FFF;
    border:1px solid #CCC;
    border-top:0;
    border-bottom:0;
}

/* 显示sidebar时给main增加这个class */
.add-sidebar {
    margin-left:190px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
/* required comment for clearfix to work in Opera \*/
* html .clearfix {
    height:1%;
}
.clearfix {
    display:block;
}
/* clearfix end */
/*
 * dn-web
 * Copyright 2011 Baidu Inc. All rights reserved.
 * 
 * path:    dn-list.css
 * desc:    列表页业务组合
 * author:  zhaolei,erik
 * date:    $Date$
 */

/* 清除浮动 */
.list-links,
.list-position,
.list-table-headcntr,
.list-table-statuscntr,
.list-table-foot {
    zoom:1;
}

.list-links:after,
.list-position:after,
.list-table-headcntr:after,
.list-table-statuscntr:after,
.list-table-foot:after {
    content:"\0020"; 
    display:block;
    height:0; 
    visibility:hidden; 
    clear:both;
}

/* 列表页头部 */
.list-table-head {
    height:28px;
    color:#35608c;
    border-top:1px solid #a3cde9;
    background:#c7deed;
}
.list-table-head h4 {
    display:inline;
    float:left;
}
.list-table-headcntr {
    border-top:1px solid #d8e8f2;
    height:27px;
    line-height:27px;
}

/* 表格搜索 */
.table-search .ui-text {
    margin-right:5px;
}

.table-search .ui-combobox {
    margin-right:5px;
}

.table-search div.ui-button {
    margin-top:0;
}

.list-table-head .table-search {
    float:right;
    display:inline;
    margin:3px 10px 0 0;
    width:222px;/* webkit的hack，变态的BUG */
}


/* 表格筛选 */
.table-filter .ui-combobox {
    float:left;
    margin-right:25px;
}

.table-filter-title {
    padding-top:1px;
    height:19px;
    line-height:19px;
    float:left;
}

.list-table-head .table-filter {
    float:left;
    display:inline;
    margin:3px 15px 0 10px;
}

/* 表格日历定位 */
.list-table-head .table-mcal {
    float:right;
    display:inline;
    margin:3px 10px 0 0;
}

/* 表格状态更改 */
.list-table-status {
    border-top:1px solid #CCCCCC;
    height:28px;
    position:relative;
}

.list-table-statuscntr {
    border-top:1px solid #F6F6F6;
    background:#EEEEEE;
    height:27px;
}

.list-table-statuscntr .ui-button {
    margin-right:5px;
    margin-top:3px;
}

.list-table-status-icon {
    width:13px;
    height:13px;
    float:left;
    display:inline;
    margin:10px 6px 0px 10px;
    background:url(http://img.bdimg.com/adm/BlockSprites.png) -58px -333px no-repeat;
}

/* 表格底部区域 */
.list-table-foot {
    background:#EEEEEE;
    border-top:1px solid #F6F6F6;
    border-bottom:1px solid #ccc;
    height:27px;
}

.list-table-foot .ui-pager {
    margin:3px 0 0 10px;
    display:inline;
    float:left;
}

.list-table-info {
    margin:3px 10px 0 0;
    display:inline;
    float:right;
}

.table-sumary,
.table-pagesize {
    margin-left:15px;
    display:inline;
    float:left;
}

.table-sumary {
    line-height:19px;
}

.table-pagesize-select {
    display:inline;
    float:left;
}

.table-pagesize-desc {
    line-height:19px;
    margin-left:5px;
    display:inline;
    float:left;
}

/* 列表页表格主体 */
.list-table-main {
    margin: 0 -1px;
}

/* 表格操作列样式 */
.list-table-operation {
    margin:0 -8px 0 -9px;
    display:inline-block;
    overflow:hidden;
}

.list-table-operation li {
    float:left;
    padding:0 8px;
    line-height:28px;
    background:url(/assets/img/SplitLine.png) no-repeat 0 10px;
}

/* 列表当前位置 */
.list-position {
    padding-bottom:10px;
    height:20px;
    line-height:20px;
    position:relative;
}

.list-position-icon,
.list-position-title,
.list-position-name {
    float:left;
    display:inline;
}

.list-position-icon {
    overflow:hidden;
    width:15px;
    height:12px;
    background:url(http://img.bdimg.com/adm/BlockSprites.png) no-repeat -13px -304px;
    margin:2px 8px 0 0;
}
.list-position-title {
    height:15px;
    line-height:15px;
    margin-top:2px;
    color:#999999;
}
.list-position-name {
    height:18px;
    line-height:18px;
    font-size:14px;
    font-weight:700;
    position:absolute;
    overflow:hidden;
    width:100%;
    text-indent:60px;
    left:0;
}

/* 列表链接 */
.list-links {
    padding:10px;
    border-top:1px solid #ccc;
}

.list-links-item, .list-links-item-disabled {
    float:left;
    display:inline;
    margin-right:40px;
}
.list-links-item-disabled:hover {
    color:#ccc;
}

.list-links-item span, .list-links-item-disabled span {
    float:left;
    display:inline;
}

/* 列表链接静态文档流版本 */
.list-links-item-f {
    display:inline;
    margin-right:40px;
    text-decoration:none;
}
.list-links-item-f .list-links-add{
    position:relative;
    margin:0;
    top:3px;
    display:inline-block;
}
.list-links-item-f .list-links-text{
    text-decoration:underline;
}

/* 列表链接文字 */
.list-links-text {
    height:19px;
    line-height:19px;
    font-size:14px;
    font-weight:700;
}
.list-links-text-small {
    height:19px;
    line-height:19px;
    font-size:12px;
    font-weight:700;
}
.list-links-item-disabled{
	color:#CCC;
}

/* 添加图标 */
.list-links-add {
    margin:2px 8px 0 0;
    height:15px;
    width:15px;
    background:url(http://img.bdimg.com/adm/BlockSprites.png) no-repeat -69px -316px;
}

/* "获取代码"图标 */
.list-links-code {
    margin:1px 8px 0 0;
    height:16px;
    width:21px;
    background:url(http://img.bdimg.com/adm/BlockSprites.png) no-repeat -48px -316px;
}

/* 列表为空的情况 */

.list-table-empty{
    text-align:center;
    border:1px solid #ccc;
}
.list-table-empty-c{
    margin:45px auto;
    line-height:2em;
    color:#999;
}

.ltec-bordered{
    border-bottom:1px solid #ccc;
    display:inline-block;
    height:2em;
    margin-bottom:3px;
}
.ltec-link{
    font-size:14px;
    font-weight:bold;
}
.ui-listinfo-icon {
    display:inline-block;
    width:14px;
    height:17px;
    margin-right:5px;
    margin-bottom:-3px;
    background:url(http://img.bdimg.com/adm/BlockSprites.png) no-repeat -141px -315px;
    _display:inline;
    zoom:1
}
#ie6 .ui-listinfo-icon,
#ie7 .ui-listinfo-icon {
    display:inline;
}

.dn-list-nodata {
    padding:30px 0;
    border:1px solid #ccc;
    text-align:center;
    border-top:0;
}

.skin-ad-m-list .dn-list-nodata {
    padding:0;
}

.dn-sublist-nodata {
    text-align:left;
    font-weight:bold;
    color:#CDBD99;
    line-height:23px;
    padding-left:8px;
}

.dn-sublist-link {
    padding:10px 3px;
    height:20px;
}

.dn-sublist-loading {
    padding:10px 0;
    zoom:1;
}

.list-float-info{
    position:absolute;
    left:300px;
    top:-10000px;
    height:30px;
    padding: 0 5px 0 26px;
    line-height:30px;
    border:1px solid #F0DCA5;
    background:#FFF7DB;
	z-index:10;
    width:280px;
}

.list-float-info-icon{
    position:absolute;
    top:7px;
    left:5px;
    width:16px;
    height:16px;
    vertical-align:middle;
    background: transparent url(http://img.bdimg.com/adm/BlockSprites.png) -125px -315px no-repeat;
}

.dn-sublist-table {
	zoom:1;
	clear:both;
	position:relative;
}

.list-withme {
    float:left;
    line-height:20px;
}
.list-withme label {
    padding-left:2px;
}

.list-search-form {
    background: #C7DEED;
    border-top: 1px solid #A3CDE9;
    color: #35608C;
    zoom: 1;
}
.list-search-form .form-key {
    width: auto;
    padding-left: 0;
}
.list-search-form .form-value {
    width: auto;
    margin-right: 10px;
}
.list-search-form .form-seperator {
    height: 0;
    border-top: 1px solid #A3CDE9;
    border-bottom: 1px solid #D8E8F2;
    font-size: 0;
    line-height: 0;
}


/**
 * 白色边框样式list
 * added by lixiang 2011.03.24
 */
.skin-white-report-table-borderless-body .list-table-foot {
	background: #FFF;	
	height:40px;
}


.skin-white-report-table-borderless-body .list-table-foot .skin-border-pager {
    height: 22px;
    margin: 8px 0;
    overflow: hidden;
    padding: 0;
    float: right;
}

.skin-white-report-table-borderless-body .list-table-foot .border-pager-list-table-info {
	float: left;
	margin-top: 8px;
}


.border-pager-list-table-info .table-pagesize-desc {
	margin-left: 0;
	margin-right: 8px;
}

/** 白色边框样式list end **/
/*
 * dn-web
 * Copyright 2011 Baidu Inc. All rights reserved.
 * 
 * path:    ui-button.css
 * desc:    按钮样式
 * author:  zhaolei,erik
 * date:    $Date$
 */

/**
 * 基础按钮样式
 */
.ui-button, .ui-button-label {
    background-image:url('http://img.bdimg.com/adm/BlockSprites.png');
    display:inline;
    float:left;
}

.ui-button {
    background-position:right 0;
    text-align:center;
    cursor:pointer;
    zoom:1;
    background:none;
}

.ui-button-bg-left {
    background-image: url("http://img.bdimg.com/adm/BlockSprites.png"); 
    width: 5px; 
    float: left; 
    height: 20px;
}

.ui-button-label {
    line-height:21px;
    overflow:hidden;
    padding:0 10px 0 5px;
    background-position:right 0;
    font-size:12px;
    font-weight:700;
    /* Hack: 宋体是衬线字体，Arial是无衬线字体，一起用会高低不平。
     * 因为按钮高度太小且无英文，此处统一改设为宋体来保持高度居中，
     * 为兼容Mac下显示效果，前面增加STHeiti */
    font-family:STHeiti, SimSun;
    color:#35608C;
    height:20px;
}

.ui-button-label a {
    text-decoration:none;
}

/**
 * 基础按钮样式状态
 */
.ui-button-hover .ui-button-bg-left {
    background-position:left -20px;
}
.ui-button-hover .ui-button-label {
    background-position:right -20px;
}

.ui-button-toggled .ui-button-bg-left,
.ui-button-press .ui-button-bg-left {
    background-position:left -40px;
}

.ui-button-toggled .ui-button-label,
.ui-button-press .ui-button-label {
    background-position:right -40px;
}

.ui-button-active .ui-button-bg-left {
    background-position:left -60px;
}
.ui-button-active .ui-button-label {
    background-position:right -60px;
}

.ui-button-disabled {
    cursor:default;
}
.ui-button-disabled .ui-button-bg-left {
    background-position:left -80px;
}
.ui-button-disabled .ui-button-label {
    color:#CCC;
    background-position:right -80px;
}

/**
 *  btntab
 *  用于报表Tab切换的小按钮
 */

.skin-btntab-active {
    background-position:right -100px;
}
.skin-btntab-active .skin-btntab-label {
    background-position:left -100px;
    color:#FFF;
}


/**
 *  btnsubmit
 *  说明：用于页面范围提交的大按钮样式
 */

.skin-btnsubmit .ui-button-bg-left {
    height:30px;
    background-position:left -120px;
}

.skin-btnsubmit-label {
    height:30px;
    line-height:30px;
    background-position:right -120px;
    padding:0 30px 0 25px;
}

.skin-btnsubmit-hover .ui-button-bg-left {
    background-position:left -150px;
}

.skin-btnsubmit-hover .skin-btnsubmit-label {
    background-position:right -150px;
}

.skin-btnsubmit-press .ui-button-bg-left {
    background-position:left -180px;
}

.skin-btnsubmit-press .skin-btnsubmit-label {
    background-position:right -180px;
}

.skin-btnsubmit-disabled .ui-button-bg-left{
    background-position:left -210px;
}

.skin-btnsubmit-disabled .skin-btnsubmit-label {
    background-position:right -210px;
}

/**
 * btntab
 * 说明：Tab标签用的按钮
 */
.skin-btntab {
    margin-top:2px;
}
.skin-btntab .ui-button-bg-left {
    height:24px;
    background-position:left -365px;
}
.skin-btntab-label {
    height:24px;
    line-height:24px;
    background-position:right -365px;
    padding:0 15px 0 10px;
}

.skin-btntab-hover {
    margin-top:2px;
}
.skin-btntab-hover .ui-button-bg-left {
    background-position:left -389px;
}
.skin-btntab-hover .skin-btntab-label {
    background-position:right -389px;
}

.skin-btntab-press {
    margin-top:2px;
}
.skin-btntab-press .ui-button-bg-left {
    background-position:left -389px;
}
.skin-btntab-press .skin-btntab-label {
    background-position:right -389px;
}

.skin-btntab-active {
    margin-top:0;
}
.skin-btntab-active .ui-button-bg-left {
    height:26px;
    background-position:left -413px;
}
.skin-btntab-active .skin-btntab-label {
    height:26px;
    line-height:26px;
    background-position:right -413px;
}

/**
 * btnswitch
 * 说明：开关tab按钮
 */
.skin-btnswitch {
    border-right:1px solid #9cc4e6;
}

.skin-btnswitch .ui-button-bg-left {
    background-position:center 0;
}

.skin-btnswitch-label {
    background-position:center 0;
}

.skin-btnswitch-hover .ui-button-bg-left {
    background-position:center -20px;
}

.skin-btnswitch-hover .skin-btnswitch-label {
    background-position:center -20px;
}

.skin-btnswitch-press {
    background-position:center -40px;
}

.skin-btnswitch-press .skin-btnswitch-label {
    background-position:center -40px;
}
.skin-btnswitch-active .ui-button-bg-left {
    background-position:center -100px;
}

.skin-btnswitch-active .skin-btnswitch-label {
    background-position:center -100px;
    color:#fff;
}

/**
 * btnswitchleft
 * 说明：开关tab左侧按钮
 */
.skin-btnswitchleft {
    background-position:center 0;
    border-right:1px solid #9cc4e6;
}

.skin-btnswitchleft .ui-button-bg-left {
    background-position:left 0;
}

.skin-btnswitchleft-label {
    background-position:center 0;
}

.skin-btnswitchleft-hover .ui-button-bg-left {
    background-position:left -20px;
}

.skin-btnswitchleft-hover .skin-btnswitchleft-label {
    background-position:center -20px;
}

.skin-btnswitchleft-press .ui-button-bg-left {
    background-position:left -40px;
}

.skin-btnswitchleft-press .skin-btnswitchleft-label {
    background-position:center -40px;
}
.skin-btnswitchleft-active .ui-button-bg-left {
    background-position:left -100px;
}

.skin-btnswitchleft-active .skin-btnswitchleft-label {
    background-position:center -100px;
    color:#fff;
}

/**
 * btnswitchright
 * 说明：开关tab右侧按钮
 */
.skin-btnswitchright .ui-button-bg-left {
    background-position:center 0;
}

.skin-btnswitchright-label {
    background-position:right 0;
}
.skin-btnswitchright-hover .ui-button-bg-left {
    background-position:center -20px;
}

.skin-btnswitchright-hover .skin-btnswitchright-label {
    background-position:right -20px;
}

.skin-btnswitchright-press .ui-button-bg-left {
    background-position:center -40px;
}

.skin-btnswitchright-press .skin-btnswitchright-label {
    background-position:right -40px;
}
.skin-btnswitchright-active .ui-button-bg-left {
    background-position:center -100px;
}

.skin-btnswitchright-active .skin-btnswitchright-label {
    background-position:right -100px;
    color:#fff;
}

/**
 * btnlinktab
 * 说明：用于标签页的超链接样式按钮
 */
.skin-btnlinktab, .skin-btnarrowtab {
    background:#FFF;
    padding:0 0 5px;
}

.skin-btnlinktab .ui-button-bg-left, 
.skin-btnarrowtab .ui-button-bg-left {
    background-image:none;
}

.skin-btnlinktab-label,.skin-btnarrowtab-label {
    height:24px;
    line-height:24px;
    padding:0 5px;
    background-image:none;
    background-color:#FFF;
    text-decoration:underline;
    font-weight:400;
    color:#37A;
}

.skin-btnlinktab-press .skin-btnlinktab-label,
.skin-btnlinktab-hover .skin-btnarrowtab-label,
.skin-btnarrowtab-press .skin-btnarrowtab-label,
.skin-btnarrowtab-hover .skin-btnarrowtab-label {
    color:#F60;
}

div.skin-btnlinktab-active .skin-btnlinktab-label,
.skin-btnarrowtab-active .skin-btnarrowtab-label {
    color:#333;
    text-decoration:none;
    font-weight:700;
}
.skin-btnarrowtab-active {
    background:#fff url('/assets/img/ArrowTab.png') no-repeat center bottom;
}

.skin-btnarrowtab-sep {
    float:left;
    line-height:24px;
}

/**
 *  btnback
 *  说明：用于页面范围返回大按钮的样式
 */

.skin-btnback .ui-button-bg-left,
.skin-btnback-small .ui-button-bg-left{
    background:none;
}

.skin-btnback-label {
    height:30px;
    line-height:30px;
    color:#3377aa;
    background:none;
    text-decoration:underline;
    padding:0 25px 0 30px;
}
.skin-btnback-small-label {
    color:#3377aa;
    background:none;
    text-decoration:underline;
}


/**
 * btnlayerclose
 * 说明：飘浮层右上角的关闭按钮,及白色小宽按钮
 * added by lixiang, 2011.03.24
 */




.skin-btnlayerclose .ui-button-bg-left,
.skin-white-button .ui-button-bg-left {
    background:none;
}


.skin-btnlayerclose-label {
    display: none;
}

.skin-btnlayerclose {
    background: url('/assets/img/esui.png') repeat scroll -37px -88px transparent;
    border: 0 none;
    height: 12px;
    overflow: hidden;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 12px;

}

.skin-white-button {
    -moz-border-radius: 2px 2px 2px 2px;
    background: url("/assets/img/esui.png") repeat scroll 0 0 transparent;
    border: 1px solid #A8ADB6;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: STHeiti,SimSun;
    font-size: 12px;
    height: 20px;
    text-align: center;

}

.skin-white-button-hover {
  border: 1px solid #888F9B;
}

.skin-white-button-label {
    height: 18px;
    line-height: 19px;
    padding: 0 9px;
    background: none;
    font-weight: normal;
}

.skin-white-button .ui-button-bg-left {
    width: 0;
}

/** btnlayerclose, whitebutton end **/
