<!doctype html>
<html>
<head>
	<title>{+data.alias+}</title>
  <link rel="stylesheet" href="static/base.css">
  <link rel="stylesheet" href="static/doc.css">
  <link rel="stylesheet" href="static/sidetree.css">
  <link rel="stylesheet" href="static/prettify.css">

  <script>
     var _staticFilePath = "static/";
     var _typeTreeName = "goog";
     var _fileTreeName = "Source";
  </script>

  <script src="static/doc.js"></script>
  
  <!--
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">
     google.load("visualization", "1", {packages:["orgchart"]});

     var timeout = window.setInterval(function() {
       if (google.visualization) {
         window.clearInterval(timeout);
         grokdoc.gviz.init();
       }
     }, 100);
  </script>
  -->

  <meta charset="utf8">

</head>

<body onload="prettyPrint()">

{+include("static/header.html")+}

<div class="colmask rightmenu">
  <div class="colleft">
    <div class="col1">
      <!-- Column 1 start -->

      <div id="title">
        <span class="fn">
        {+data.alias+}
        </span>
        <if test="data.augments.length">
        <span>Extends</span>
        <span class="fn-name">
          {+
            data.augments
            .sort()
            .map(
              function($) { return new Link().toSymbol($.type); }
            )
            .join(", ")
          +}
        </span>
        </if>
      </div>

      <div class="g-section g-tpl-75-25">
        <div class="g-unit g-first" id="description">
          {+resolveLinks(summarize(data.desc))+}
        </div>

        <div class="g-unit" id="useful-links">
          <div class="title">Useful links</div>
          <ol>
            <li><a href="../trunk/closure/goog/demos/editor/editor.html">Demo</a></li>
            <if test="!data.isBuiltin()">{# isn't defined in any file #}
              <li>{+new Link().toSrc(data.srcFile)+}</li>
            </if>
          </ol>
        </div>
      </div>

      <!--
      <h2 class="g-first">Inheritance</h2>
      <div class='gviz-org-chart-container goog-inline-block'>
        <table class='gviz-org-chart' style='display:none'>
          <tr>
            <td><span class="type"><a href="class_goog_Disposable.html">goog.Disposable</a></span></td>
            <td></td>
          </tr>
          <tr>
            <td><span class="type"><a href="class_goog_events_EventTarget.html">goog.events.EventTarget</a></span></td>
            <td><span class="type"><a href="class_goog_Disposable.html">goog.Disposable</a></span></td>
          </tr>
          <tr>
            <td>goog.ui.editor.ToolbarController</td>
            <td><span class="type"><a href="class_goog_events_EventTarget.html">goog.events.EventTarget</a></span></td>
          </tr>
        </table>
      </div>
      
      <div class='gviz-org-chart-container goog-inline-block'>
        <table class='gviz-org-chart' style='display:none'>
        </table>
      </div>
      -->

      <if test="!data.isBuiltin() && (data.isNamespace || data.is('CONSTRUCTOR'))">
        <h2>Constructor</h2>
        <div class="fn-constructor">
          {+data.alias+}()
        </div>

        <if test="data.params.length">
          <h3>Parameters</h3>
          <table class="horiz-rule">
          <for each="item" in="data.params">
            <tr class="even">
              <td>
                <span class="entryName">{+item.name+}</span> : 
                <div class="fullType">
                  <!--<span>!</span>-->
                  <span class="type">
                    {+((item.type)?""+(new Link().toSymbol(item.type)) : "")+}
                  </span>
                </div>
                <div class="entryOverview">{+resolveLinks(item.desc)+}</div>
              </td>
            </tr>
          </for>
          </table>
        </if>
      </if>

      {! var ownMethods = data.methods.filter(function($){return $.memberOf == data.alias  && !$.isNamespace}).sort(makeSortby("name")); !}
      <if test="defined(ownMethods) && ownMethods.length">
      <h2>Instance Methods</h2>
      <div class="legend">
        <span class="key publickey"></span><span>Public</span>
        <span class="key protectedkey"></span><span>Protected</span>
        <span class="key privatekey"></span><span>Private</span>
      </div>
      <div>
        <div class="desc">
          Defined in
          <span class="fn-name">
            {+new Link().toSymbol(data.alias)+}
          </span>
        </div>
        <div class="section">
          <table class="horiz-rule">
            <for each="member" in="ownMethods">
              <!--
                {!
                  if (member.isPrivate) output += "&lt;private&gt; ";
                  if (member.isInner) output += "&lt;inner&gt; ";
                  if (member.isStatic) output += "&lt;static&gt; ";
                !}
              -->
              {!
                var accessModifier = "public";
                if (member.isPrivate) {
                  accessModifier = "private";
                } else if (member.isInner) {
                  accessModifier = "inner";
                } else if (member.isStatic) {
                  accessModifier = "static";
                } else if (member.isProtected) {
                  accessModifier = "protected";
                }
              !}
              <tr class="even entry {+ accessModifier +}">
                <td class="access"></td>
                <td>
                  <a name="{+Link.symbolNameToLinkName(member)+}"> </a>
                  <div class="arg">
                    <img align="left" src="static/images/blank.gif">
                    <span class="entryName">{+member.name+}<span class="args">(<if test="member.params.length"><for each="item" in="member.params"><span class="arg">{+item.name+}</span><if test="!$item_last">,&nbsp;</if></for></if>)</span></span>
                    <if test="member.returns.length">
                      &#8658; 
                      <for each="item" in="member.returns">
                        <div class="fullType">
                          <span class="type">
                            {+new Link().toSymbol(item.type)+}
                          </span>
                        </div>&nbsp;
                        {+resolveLinks(item.desc)+}
                      </for>
                    </if>
                  </div>
                  <div class="entryOverview">
                    {+resolveLinks(member.desc)+}
                  </div>
                  <if test="member.params.length">
                  <!-- Method details -->
                  <div class="entryDetails">
                    <div class="detailsSection">
                      <b>Arguments: </b>
                      <table class="horiz-rule">
                        <for each="item" in="member.params">
                          <tr class="even">
                            <td>
                              <span class="entryName">{+item.name+}</span> : 
                              <div class="fullType">
                                <span class="type">{+new Link().toSymbol(item.type)+}</span>
                              </div>
                              <div class="entryOverview">{+resolveLinks(item.desc)+}</div>
                            </td>
                          </tr>
                        </for>
                      </table>
                    </div>
                    <if test="member.returns.length">
                    <div class="detailsSection">
                      <b>Returns:</b>&nbsp;
                      <for each="item" in="member.returns">
                      <div class="fullType">
                        <span class="type">
                          {+new Link().toSymbol(item.type)+}
                        </span>
                      </div>&nbsp;
                      {+resolveLinks(item.desc)+}
                      </for>
                    </div>
                    </if>
                  </div>
                  </if>
                </td>
                <td class="view-code">
                  <if test="member.srcFile != data.srcFile">
                    {+new Link().toSrc(member.srcFile).withText("code")+}&nbsp;&raquo;
                  </if>
                </td>
              </tr>
            </for>
          </table>
        </div>
      </div>
      </if>
      
      <if test="data.inheritsFrom.length">
      {!
        var borrowedMembers = data.methods.filter(function($) {return $.memberOf != data.alias});
        var contributers = [];
        borrowedMembers.map(function($) {if (contributers.indexOf($.memberOf) < 0) contributers.push($.memberOf)});
      !}
      <div>
        <for each="contributer" in="contributers">
        <div class="desc">
          Defined in
          <span class="fn-name">
            {+new Link().toSymbol(contributer)+}
          </span>
        </div>
        <div class="section">
          <table class="horiz-rule">
            {! var contributerMembers = borrowedMembers.filter(function($){return $.memberOf == contributer;}).sort(makeSortby("name")); !}
            <for each="member" in="contributerMembers">
              {!
                var accessModifier = "public";
                if (member.isPrivate) {
                  accessModifier = "private";
                } else if (member.isInner) {
                  accessModifier = "inner";
                } else if (member.isStatic) {
                  accessModifier = "static";
                } else if (member.isProtected) {
                  accessModifier = "protected";
                }
              !}
              <tr class="even entry {+ accessModifier +}">
                <td class="access"></td>
                <td>
                  <a name="{+Link.symbolNameToLinkName(member)+}"> </a>
                  <div class="arg">
                    <img align="left" src="static/images/blank.gif">
                    <span class="entryName">{+member.name+}<span class="args">(<if test="member.params.length"><for each="item" in="member.params"><span class="arg">{+item.name+}</span><if test="!$item_last">,&nbsp;</if></for></if>)</span></span>
                    <if test="member.returns.length">
                      &#8658; 
                      <for each="item" in="member.returns">
                        <div class="fullType">
                          <span class="type">
                            {+new Link().toSymbol(item.type)+}
                          </span>
                        </div>&nbsp;
                        {+resolveLinks(item.desc)+}
                      </for>
                    </if>
                  </div>
                  <div class="entryOverview">
                    {+resolveLinks(member.desc)+}
                  </div>
                  <if test="member.params.length">
                  <!-- Method details -->
                  <div class="entryDetails">
                    <div class="detailsSection">
                      <b>Arguments: </b>
                      <table class="horiz-rule">
                        <for each="item" in="member.params">
                          <tr class="even">
                            <td>
                              <span class="entryName">{+item.name+}</span> : 
                              <div class="fullType">
                                <span class="type">{+new Link().toSymbol(item.type)+}</span>
                              </div>
                              <div class="entryOverview">{+resolveLinks(item.desc)+}</div>
                            </td>
                          </tr>
                        </for>
                      </table>
                    </div>
                    <if test="member.returns.length">
                    <div class="detailsSection">
                      <b>Returns:</b>&nbsp;
                      <for each="item" in="member.returns">
                      <div class="fullType">
                        <span class="type">
                          {+new Link().toSymbol(item.type)+}
                        </span>
                      </div>&nbsp;
                      {+resolveLinks(item.desc)+}
                      </for>
                    </div>
                    </if>
                  </div>
                  </if>
                </td>
                <td class="view-code">
                  <if test="member.srcFile != data.srcFile">
                    {+new Link().toSrc(member.srcFile).withText("code")+}&nbsp;&raquo;
                  </if>
                </td>
              </tr>
            </for>
          </table>
        </div>
        </for>
      </div>
      </if>

      {! var ownProperties = data.properties.filter(function($){return $.memberOf == data.alias && !$.isNamespace}).sort(makeSortby("name")); !}
      <if test="data.properties.length">
      <h2>Instance Properties</h2>
      <div>
        <div class="desc">
         Defined in
         <span class="fn-name">
            {+new Link().toSymbol(data.alias)+}
         </span>
        </div>

        <div class="section">
          <if test="ownProperties.length">
          <table class="horiz-rule">
            <for each="member" in="ownProperties">
            {!
              var accessModifier = "public";
              if (member.isPrivate) {
                accessModifier = "private";
              } else if (member.isInner) {
                accessModifier = "inner";
              } else if (member.isStatic) {
                accessModifier = "static";
              } else if (member.isConstant) {
                accessModifier = "constant";
              } else if (member.isProtected) {
                accessModifier = "protected";
              }
            !}
            <tr class="even entry {+accessModifier+}">
              <td class="access"></td>
              <a name="{+Link.symbolNameToLinkName(member)+}"> </a>
              <td>
                <div class="arg">
                  <img align="left" src="static/images/blank.gif">
                  <span class="entryName">
                    {+new Link().toSymbol(member.name)+}
                  </span> : 
                  <div class="fullType">
                    <span class="type">
                      {+new Link().toSymbol(member.type)+}
                    </span>
                  </div>
                </div>
                <div class="entryOverview">
                  {+resolveLinks(summarize(member.desc))+}
                </div>
              </td>
              <td class="view-code">
                <if test="member.srcFile != data.srcFile">
                  {+new Link().toSrc(member.srcFile).withText("code")+}&nbsp;&raquo;
                </if>
              </td>
            </tr>
            </for>
          </table>
          </if>
        </div>
      </div> <!-- Instance Properties -->
      </if>
      <!-- Column 1 end -->
    </div>

    <div class="col2">
      <!-- Column 2 start -->

      <div class="col2-c">
        <h2 id="ref-head">Package ui.editor</h2>
        <div id="localView"></div>
      </div>

      <div class="col2-c">
        <h2 id="ref-head">Package Reference</h2>
        <div id="sideTypeIndex" rootPath="" current="ui.editor.ToolbarController"></div>

      </div>
      <!-- Column 2 end -->
    </div>
  </div>
</div>

</body>
</html>

