/*
 * dn-web
 * Copyright 2011 Baidu Inc. All rights reserved.
 * 
 * path:    skin-white-mcal.css
 * desc:    白灰日历组件
 * author:  lixiang
 * date:    $Date: 2011-05-06 14:54:36 +0800 (周五, 06 五月 2011) $
 */


/**
 * 外围容器
 */
.skin-white-mcal {
	-moz-border-radius: 3px 3px 3px 3px;
    -moz-user-select: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #A8ADB6;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 24px;
    width: 200px;
}

.skin-white-mcal-hover,
.skin-white-mcal-press,
.skin-white-mcal-active {
    border: 1px solid #A8ADB6;
}

.skin-white-mcal-show {
    float: left;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    padding-left: 4px;
    width: 180px;
    
}

/**
 * 图标
 */
.skin-white-mcal-point {
    background: url("/assets/img/esui.png") repeat scroll -15px -93px transparent;
    float: right;
    font-size: 1px;
    height: 5px;
    margin: 11px 5px 0 0;
    width: 10px;
}

.skin-white-mcal-active .skin-white-mcal-point {
    background-position: -15px -88px;
}

/**
 * 弹出层
 */
.skin-white-mcal-layer {
    text-align:center;
    position:absolute;
    z-index:50;
    background:#fff;
    border-color: #394459 #A8ADB6 #A8ADB6;
    border-right: 1px solid #A8ADB6;
    border-style: solid;
    border-width: 2px 1px 1px;
    padding: 8px;
    width: 434px;
}

/**
 * mini日历
 */
.skin-white-mcal-mmcal {
  	width: 100%;
  	text-align: left;
}

.skin-white-mcal-mmcal .skin-white-mcal-mmcal-option {
    color: #0033CC;
    cursor: pointer;
}

.skin-white-mcal-mmcal .skin-white-mcal-mmcal-option-selected {
    color: #000000;
    cursor: default;
}

/**
 * 开始时间选取
 */
.skin-white-mcal-begin {
    float:left;
    margin-right:10px;
    width: 212px;
}

/**
 * 结束时间选取
 */
.skin-white-mcal-end {
    float:right;
    width:212px;
}

/**
 * 底部按钮容器
 */
.skin-white-mcal-foot {
    clear: both;
    padding-top: 8px;
    padding-left: 0px;
    background-color: #FFF;
}


/**
 * 日历月份外围容器
 */
.skin-white-mcal-body {
    margin: 0px;
    padding-top: 7px;
}



/**
 * 选中月份
 */
.skin-white-mcal-mactive {
    background:#87A9CB;
    color:#FFF;
    font-weight:700;
}


/**
 * 年份选择
 */
.skin-white-mcal-func {
    border:none;
    position:relative;
    height:28px;
    line-height:28px;
    clear:both;
    zoom:1;
    background: none repeat scroll 0 0 #CCCED4;
}

.skin-white-mcal-func table {
    width: 210px;
    margin-top: 4px;
}

.skin-white-mcal-Yinfo,
.skin-white-mcal-Minfo {
  	height: 22px;
    line-height: 22px;
}


.skin-white-mcal-Yinfo span,
.skin-white-mcal-Minfo span {
  	height: 22px;
    line-height: 22px;
	margin-left: 2px;
}

.skin-white-mcal-func .skin-white-mcal-prev,
.skin-white-mcal-func .skin-white-mcal-next {
    background: url("/assets/img/esui.png");
    font-size: 1px;
    height: 20px;
    width: 20px;
    -moz-border-radius: 2px 2px 2px 2px;
    border: 1px solid #A8ADB6;
    cursor: pointer;
}
.skin-white-mcal-func .skin-white-mcal-next {
    background-position: -20px -200px;
    margin-right: 3px;
}

.skin-white-mcal-func .skin-white-mcal-prev {
    margin-left:3px;
    background-position: 0 -200px;
}

/**
 * 日期输入区
 */
.skin-white-mcal-itemshow {
    padding-bottom:0px;
    padding-top:7px;    
    font-size: 12px;
    height: 18px;
}

.skin-white-mcal-label {
    color: #000000;
    font-weight: bold;
}