/*
 * dn-web
 * Copyright 2011 Baidu Inc. All rights reserved.
 * 
 * path:    ui-copyarea.css
 * desc:    可复制的文本区域控件
 * author:  zhaolei,erik
 * date:    $Date: 2011-05-06 14:54:36 +0800 (周五, 06 五月 2011) $
 */

.ui-copyarea {
	position:relative;
	zoom:1;
}

.ui-copyarea-text {
    width:720px;
    height:80px;
    padding:4px;
    font-size:12px;
    border:1px solid #7E9DB9;
    line-height:20px;
}

.ui-copyarea-flash {
	bottom:14px;
	left:740px;
	position:absolute;
}

.ui-copyarea-success {
    border:1px solid #bea06e;
    background:#fff7db;
    padding:5px;
    line-height:19px;
    text-align:left;
    color:#333;
	position:absolute;
	width:60px;
	bottom:8px;
}

.ui-copyarea-tip {
    position:absolute;
    left:740px;
    top:10px;
    color:#9a9a9a;
    font-size:14px;
}

.ui-copyarea-textinput{
    width:390px;
}
