/*
 * dn-web
 * Copyright 2011 Baidu Inc. All rights reserved.
 * 
 * path:    ui-mmcal.css
 * desc:    迷你日期区间选择组件
 * author:  zhaolei,erik
 * date:    $Date: 2011-05-06 14:54:36 +0800 (周五, 06 五月 2011) $
 */

.ui-mmcal {
    display:inline-block;
    height:20px;
    line-height:20px;
    zoom:1;
    padding-right:10px;
}

.ui-mmcal-option {
    text-decoration:underline;
    cursor:pointer;
    color:#37a;
}

.ui-mmcal-option-selected {
    color:#000;
    cursor:default;
    text-decoration:none;
}
