/*
 * dn-web
 * Copyright 2011 Baidu Inc. All rights reserved.
 * 
 * path:    ui-mask.css
 * desc:    遮罩层样式
 * author:  zhaolei,erik
 * date:    $Date: 2011-05-06 14:54:36 +0800 (周五, 06 五月 2011) $
 */

.ui-mask {
    position:absolute;
    top:0;
    left:0;
    z-index:1000;
    background:#333;
    opacity: .2;
    filter:alpha(opacity=20);
}
