#!/usr/bin/make -f

%:
	dh $@ --with quilt

override_dh_quilt_patch:
	dh_quilt_patch
	[ -f bin/js_beautify ] || mv bin/js_beautify.pl bin/js_beautify

override_dh_quilt_unpatch:
	[ -f bin/js_beautify.pl ] || mv bin/js_beautify bin/js_beautify.pl
	dh_quilt_unpatch
