.video-videoInfo {

}

.video-videoInfo .videoInfoHeader {
	background-color: #D8E8F2;
    color: #1C4A79;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
}

.video-videoInfo .videoInfoContent {
	height : 30px
}

.video-videoInfo .videoInfoContent {
	color : #35608C;
	font-size : 14px
}

.video-videoInfo .videoInfoContent span {
	float : left;
	color : #333333
}

.convertForm .videoFormHeader {
	background-color: #D8E8F2;
    color: #1C4A79;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
}

.convertForm {
	margin-left:610px;
	height: 100%;
	border:1px solid #3377AA
}

.convertForm .videoFormContent {
	padding-left:24px;
	padding-top: 20px;
}

.convertForm .video-form-row {
    height: 35px;
    width: 98%;
}

.convertForm .video-form-left {
	float:left;
	width:130px;
	height: 30px;
    line-height: 20px;
}

#formVideoEdit .validate {
	clear:none;
	float: left;
    position: relative;
}

#formVideoEdit .validate-error {
	height:20px;
	line-height:20px
}