/*
 * dn-web
 * Copyright 2011 Baidu Inc. All rights reserved.
 * 
 * path:    dn.css
 * desc:    dn模块自定义样式
 * author:  zhaolei,erik
 * date:    $Date: 2011-04-27 12:15:29 +0800 (周三, 27 四月 2011) $
 */

.header {
    height:70px;
    position:relative;
    background:#FFFFFF;
}

.logo {
    float:left;
    margin:3px 15px;
}

/**
 * 用户面板
 * 
 * @TODO: 先用单独图片，后续再合并成CSS Sprites
 */
.userinfo {
    position:absolute;
    top:5px;
    right:25px;
    overflow:hidden;
    margin-right:-8px;
}
.userinfo li {
    float:left;
    padding:0 8px;
    margin-left:-1px;
    line-height:15px;
    height:15px;
    background:url(/assets/img/SplitLine.png) no-repeat 0 3px;
}

.userinfo-name {
    font-weight:700;
}

.header .userswitch-label {
    position:absolute;
    top:47px;
    right:215px;
}

.header .userswitch {
    position:absolute;
    top:44px;
    right:25px;
}

.header .userswitch-title,
.header .userswitch-select {
    margin-left:5px;
    float:left;
    display:inline;
}

.header .userswitch-title {
    line-height:20px;
}

/**
 * 导航菜单
 */
.nav {
    background:url(/assets/img/InlineSprites.png) repeat-x 0 -36px;
    height:61px;
    font-size:14px;
    font-weight:700;
    text-align:center;
}

.nav-main {
    padding-left:10px;
    zoom:1;
}
.nav-main:after {
    content:"\0020"; 
    display:block;
    height:0; 
    visibility:hidden; 
    clear:both;
}

.nav-main li {
    float:left;
    margin:0 1px;
    display:inline;
}

.nav-main li a {
    padding-top:3px;
    height:29px;
    width:90px;
    line-height:29px;
    display:block;
    color:#FFFFFF;
    text-decoration:none;
    outline:none;
}

.nav-main .nav-item-hover a {
    color:#FFFFFF;
    background:url(/assets/img/BlockSprites.png) no-repeat -90px -240px;
}

.nav-main li.nav-selected a,
.nav-main li.nav-selected a:hover {
    color:#35608c;
    background:url(/assets/img/BlockSprites.png) no-repeat 0 -240px;
}

.nav-main li.nav-back a,
.nav-main li.nav-back a:hover {
    color:#35608c;
    background:url(/assets/img/BlockSprites.png) no-repeat 0 -272px;
}

.nav-sub {
    padding-left:16px;
    height:21px;
}

.nav-sub li {
    float:left;
    margin-right:5px;
    display:inline;
    padding-top:3px;
}

.nav-sub li a {
    display:block;
    width:80px;
    height:21px;
    line-height:21px;
    outline:none;
}

.nav-sub li.nav-selected a {
    color:#333333;
    text-decoration:none;
    background:url(/assets/img/BlockSprites.png) no-repeat -90px -293px;
}

li a.nav-wide {
    width:110px;
}

li.nav-selected a.nav-wide {
    background-position:-90px -272px;
}
/*sub nav separator*/
li.nav-separator{
    margin-top:6px;
    width:4px;
    height:12px;
    background:url(/assets/img/BlockSprites.png) no-repeat -14px -347px;
}

.switchuser {
    text-align:center;
    border:1px solid #C5DFF0;
    background:#F1F6FA;
    padding:18px 0 13px;
}
.switchuser .userswitch {
    margin:0 auto;
    width:420px;
    position:relative;
    zoom:1;
}

.switchuser .userswitch:after {
    content:"\0020";
    display:block;
    height:0;
    visibility:hidden;
    clear:both;
}
.switchuser .userswitch-title, 
.switchuser .userswitch-select {
    display:inline;
    float:left;
    margin-right: 5px;
}

.switchuser .userswitch-title {
    line-height:20px;
}

.switchuser-info {
    color:#8DA8C3;
    text-align:center;
    height:30px;
    line-height:30px;
    margin:20px auto;
    position:relative;
    width:420px;
    padding-left:20px;
}

.guide {
    line-height:20px;
}
.guide-welcome {
    font-size:14px;
}
.guide-foot-left {
    float:left;
}

.guide-foot-right {
    float:right;
	position:relative;
	zoom:1;
}

.guide-part {
    padding:20px;
    line-height:20px;
}

.guide-line {
    border-top:1px solid #CCCCCC;
    height:0;
    overflow:hidden;
}

.guide-content {
    margin-top:20px;
}

.guide-content-right {
    float:left;
    font-size:12px;
    width:350px;
}
.guide-content-left {
    float:left;
    font-size:12px;
    margin-right:50px;
}

.guide-part dt {
    color:#333;
    font-weight:bold;
    line-height:2em;
}
.guide-part .bigdt {
    font-size:14px;
}

.guide-part dd {
    color:#999;
    line-height:2em;
    margin-bottom:25px;
}

.guide-arrowline {
    background:url("/assets/img/guide_arrowline.png") no-repeat;
    clear:both;
    height:26px;
    margin:30px 0 40px 0;
}

.guide-createslot {
    background:#F1F6FA;
    border:1px solid #C4DFF0;
    margin:8px 0;
    text-align:center;
}

.guide-createslotinner {
    border:1px solid #FFFFFF;
    padding:10px;
    height:30px;
}

.guide-createslotinner .ui-button {
    margin-left:165px;
}

.guide-ok {
    margin-bottom:12px;
    font-size:14px;
}
.guide-okicon {
    background:url("/assets/img/BlockSprites.png") no-repeat scroll -90px -315px;
    height:15px;
    float:left;
    width:19px;
    margin-right:6px;
}

.guide-finish {
    height:110px;
}

.guide-entertip {
    position:absolute;
    bottom:10px;
    right:10px;
    color:#999;
    line-height:20px;
}

.guide-tipicon {
    background:url("/assets/img/BlockSprites.png") no-repeat scroll -141px -315px;
    height:17px;
    float:left;
    width:14px;
    margin-right:6px;
}

.pwd-title {
    width:90px;
    line-height:20px;
}

.pwd-form {
    padding-bottom:13px;
}

.pwd-tip {
    color:#999;
}

.dn-notice {
    margin:10px 10px 0 10px;
    background:#FFF7DB;
    border:1px solid #F0DCA5;
    position:relative;
}

.dn-notice-icon {
    background:url("/assets/img/BlockSprites.png") no-repeat -90px -315px;
    height:15px;
    width:19px;
    position:absolute;
    left:9px;
    top:7px;
}

.dn-notice-icon-tip {
    background:url("/assets/img/BlockSprites.png") no-repeat -125px -315px;
    height:16px;
    width:16px;
    position:absolute;
    left:9px;
    top:7px;
}

.dn-notice-text {
    line-height:24px;
    height:24px;
    padding:3px 35px;
}

.dn-notice-text-right {
    float:right;
}

.dn-notice-text-left {
    float:left;
}

.dn-notice-close {
    background:url("/assets/img/BlockSprites.png") no-repeat -180px -240px;
    border:3px solid #FFF4DE;
    cursor:pointer;
    height:11px;
    position:absolute;
    right:7px;
    top:6px;
    width:11px;
    overflow:hidden;
}
.ie6-in .dn-notice-close {
    right:15px;
}

.loading-outer {
    position:fixed;
    top:120px;
    left:0;
    z-index:1001;
    margin-left:50%;
    width:200px;
    height:50px;
    _position:absolute;
}

.loading {
    margin-left:-100px;
    width:198px;
    height:48px;
    border:1px solid #8dneda;
	position:relative;
}

.loading-inner {
    background:#fcfcfc;
    border:2px solid #d6e7f2;
    width:194px;
    height:44px;
}

.loading-inner img {
    float:left;
    margin:6px 0 0 15px;
}

.loading-left-shadow {
    float:left;
    width:10px;
    background:#eef4f8;
    height:44px;
    border-right:1px solid #d6e7f2;
}

.loading-text {
    color:#37a;
    float:left;
    padding-left:20px;
    font-weight:bold;
    line-height:20px;
    margin-top:12px;
}

.dn-domtip {
    background:#FFF7DB;
    border:1px solid #BEA06E;
    color:#333;
    line-height:19px;
    padding:5px;
    position:absolute;
    left:-10000px;
}

.text-arrow{
	font-family:STHeiti,simsun;
}

.status-valid {
    color: #090;
}
.status-invalid {
    color: #f00;
}
.status-warning {
    color: #f90;
}
