/*
 * dn-web
 * Copyright 2011 Baidu Inc. All rights reserved.
 * 
 * path:    ui-button.css
 * desc:    按钮样式
 * author:  zhaolei,erik
 * date:    $Date: 2011-04-27 12:15:29 +0800 (周三, 27 四月 2011) $
 */

/**
 * 基础按钮样式
 */
.ui-button, .ui-button-label {
    background-image:url('/assets/img/BlockSprites.png');
    display:inline;
    float:left;
}

.ui-button {
    background-position:right 0;
    text-align:center;
    cursor:pointer;
    zoom:1;
    background:none;
}

.ui-button-bg-left {
    background-image: url("/assets/img/BlockSprites.png"); 
    width: 5px; 
    float: left; 
    height: 20px;
}

.ui-button-label {
    line-height:21px;
    overflow:hidden;
    padding:0 10px 0 5px;
    background-position:right 0;
    font-size:12px;
    font-weight:700;
    /* Hack: 宋体是衬线字体，Arial是无衬线字体，一起用会高低不平。
     * 因为按钮高度太小且无英文，此处统一改设为宋体来保持高度居中，
     * 为兼容Mac下显示效果，前面增加STHeiti */
    font-family:STHeiti, SimSun;
    color:#35608C;
    height:20px;
}

.ui-button-label a {
    text-decoration:none;
}

/**
 * 基础按钮样式状态
 */
.ui-button-hover .ui-button-bg-left {
    background-position:left -20px;
}
.ui-button-hover .ui-button-label {
    background-position:right -20px;
}

.ui-button-toggled .ui-button-bg-left,
.ui-button-press .ui-button-bg-left {
    background-position:left -40px;
}

.ui-button-toggled .ui-button-label,
.ui-button-press .ui-button-label {
    background-position:right -40px;
}

.ui-button-active .ui-button-bg-left {
    background-position:left -60px;
}
.ui-button-active .ui-button-label {
    background-position:right -60px;
}

.ui-button-disabled {
    cursor:default;
}
.ui-button-disabled .ui-button-bg-left {
    background-position:left -80px;
}
.ui-button-disabled .ui-button-label {
    color:#CCC;
    background-position:right -80px;
}

/**
 *  btntab
 *  用于报表Tab切换的小按钮
 */

.skin-btntab-active {
    background-position:right -100px;
}
.skin-btntab-active .skin-btntab-label {
    background-position:left -100px;
    color:#FFF;
}


/**
 *  btnsubmit
 *  说明：用于页面范围提交的大按钮样式
 */

.skin-btnsubmit .ui-button-bg-left {
    height:30px;
    background-position:left -120px;
}

.skin-btnsubmit-label {
    height:30px;
    line-height:30px;
    background-position:right -120px;
    padding:0 30px 0 25px;
}

.skin-btnsubmit-hover .ui-button-bg-left {
    background-position:left -150px;
}

.skin-btnsubmit-hover .skin-btnsubmit-label {
    background-position:right -150px;
}

.skin-btnsubmit-press .ui-button-bg-left {
    background-position:left -180px;
}

.skin-btnsubmit-press .skin-btnsubmit-label {
    background-position:right -180px;
}

.skin-btnsubmit-disabled .ui-button-bg-left{
    background-position:left -210px;
}

.skin-btnsubmit-disabled .skin-btnsubmit-label {
    background-position:right -210px;
}

/**
 * btntab
 * 说明：Tab标签用的按钮
 */
.skin-btntab {
    margin-top:2px;
}
.skin-btntab .ui-button-bg-left {
    height:24px;
    background-position:left -365px;
}
.skin-btntab-label {
    height:24px;
    line-height:24px;
    background-position:right -365px;
    padding:0 15px 0 10px;
}

.skin-btntab-hover {
    margin-top:2px;
}
.skin-btntab-hover .ui-button-bg-left {
    background-position:left -389px;
}
.skin-btntab-hover .skin-btntab-label {
    background-position:right -389px;
}

.skin-btntab-press {
    margin-top:2px;
}
.skin-btntab-press .ui-button-bg-left {
    background-position:left -389px;
}
.skin-btntab-press .skin-btntab-label {
    background-position:right -389px;
}

.skin-btntab-active {
    margin-top:0;
}
.skin-btntab-active .ui-button-bg-left {
    height:26px;
    background-position:left -413px;
}
.skin-btntab-active .skin-btntab-label {
    height:26px;
    line-height:26px;
    background-position:right -413px;
}

/**
 * btnswitch
 * 说明：开关tab按钮
 */
.skin-btnswitch {
    border-right:1px solid #9cc4e6;
}

.skin-btnswitch .ui-button-bg-left {
    background-position:center 0;
}

.skin-btnswitch-label {
    background-position:center 0;
}

.skin-btnswitch-hover .ui-button-bg-left {
    background-position:center -20px;
}

.skin-btnswitch-hover .skin-btnswitch-label {
    background-position:center -20px;
}

.skin-btnswitch-press {
    background-position:center -40px;
}

.skin-btnswitch-press .skin-btnswitch-label {
    background-position:center -40px;
}
.skin-btnswitch-active .ui-button-bg-left {
    background-position:center -100px;
}

.skin-btnswitch-active .skin-btnswitch-label {
    background-position:center -100px;
    color:#fff;
}

/**
 * btnswitchleft
 * 说明：开关tab左侧按钮
 */
.skin-btnswitchleft {
    background-position:center 0;
    border-right:1px solid #9cc4e6;
}

.skin-btnswitchleft .ui-button-bg-left {
    background-position:left 0;
}

.skin-btnswitchleft-label {
    background-position:center 0;
}

.skin-btnswitchleft-hover .ui-button-bg-left {
    background-position:left -20px;
}

.skin-btnswitchleft-hover .skin-btnswitchleft-label {
    background-position:center -20px;
}

.skin-btnswitchleft-press .ui-button-bg-left {
    background-position:left -40px;
}

.skin-btnswitchleft-press .skin-btnswitchleft-label {
    background-position:center -40px;
}
.skin-btnswitchleft-active .ui-button-bg-left {
    background-position:left -100px;
}

.skin-btnswitchleft-active .skin-btnswitchleft-label {
    background-position:center -100px;
    color:#fff;
}

/**
 * btnswitchright
 * 说明：开关tab右侧按钮
 */
.skin-btnswitchright .ui-button-bg-left {
    background-position:center 0;
}

.skin-btnswitchright-label {
    background-position:right 0;
}
.skin-btnswitchright-hover .ui-button-bg-left {
    background-position:center -20px;
}

.skin-btnswitchright-hover .skin-btnswitchright-label {
    background-position:right -20px;
}

.skin-btnswitchright-press .ui-button-bg-left {
    background-position:center -40px;
}

.skin-btnswitchright-press .skin-btnswitchright-label {
    background-position:right -40px;
}
.skin-btnswitchright-active .ui-button-bg-left {
    background-position:center -100px;
}

.skin-btnswitchright-active .skin-btnswitchright-label {
    background-position:right -100px;
    color:#fff;
}

/**
 * btnlinktab
 * 说明：用于标签页的超链接样式按钮
 */
.skin-btnlinktab, .skin-btnarrowtab {
    background:#FFF;
    padding:0 0 5px;
}

.skin-btnlinktab .ui-button-bg-left, 
.skin-btnarrowtab .ui-button-bg-left {
    background-image:none;
}

.skin-btnlinktab-label,.skin-btnarrowtab-label {
    height:24px;
    line-height:24px;
    padding:0 5px;
    background-image:none;
    background-color:#FFF;
    text-decoration:underline;
    font-weight:400;
    color:#37A;
}

.skin-btnlinktab-press .skin-btnlinktab-label,
.skin-btnlinktab-hover .skin-btnarrowtab-label,
.skin-btnarrowtab-press .skin-btnarrowtab-label,
.skin-btnarrowtab-hover .skin-btnarrowtab-label {
    color:#F60;
}

div.skin-btnlinktab-active .skin-btnlinktab-label,
.skin-btnarrowtab-active .skin-btnarrowtab-label {
    color:#333;
    text-decoration:none;
    font-weight:700;
}
.skin-btnarrowtab-active {
    background:#fff url('/assets/img/ArrowTab.png') no-repeat center bottom;
}

.skin-btnarrowtab-sep {
    float:left;
    line-height:24px;
}

/**
 *  btnback
 *  说明：用于页面范围返回大按钮的样式
 */

.skin-btnback .ui-button-bg-left,
.skin-btnback-small .ui-button-bg-left{
    background:none;
}

.skin-btnback-label {
    height:30px;
    line-height:30px;
    color:#3377aa;
    background:none;
    text-decoration:underline;
    padding:0 25px 0 30px;
}
.skin-btnback-small-label {
    color:#3377aa;
    background:none;
    text-decoration:underline;
}


/**
 * btnlayerclose
 * 说明：飘浮层右上角的关闭按钮,及白色小宽按钮
 * added by lixiang, 2011.03.24
 */




.skin-btnlayerclose .ui-button-bg-left,
.skin-white-button .ui-button-bg-left {
    background:none;
}


.skin-btnlayerclose-label {
    display: none;
}

.skin-btnlayerclose {
    background: url('/assets/img/esui.png') repeat scroll -37px -88px transparent;
    border: 0 none;
    height: 12px;
    overflow: hidden;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 12px;

}

.skin-white-button {
    -moz-border-radius: 2px 2px 2px 2px;
    background: url("/assets/img/esui.png") repeat scroll 0 0 transparent;
    border: 1px solid #A8ADB6;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: STHeiti,SimSun;
    font-size: 12px;
    height: 20px;
    text-align: center;

}

.skin-white-button-hover {
  border: 1px solid #888F9B;
}

.skin-white-button-label {
    height: 18px;
    line-height: 19px;
    padding: 0 9px;
    background: none;
    font-weight: normal;
}

.skin-white-button .ui-button-bg-left {
    width: 0;
}

/** btnlayerclose, whitebutton end **/
