/*
 * dn-web
 * Copyright 2011 Baidu Inc. All rights reserved.
 * 
 * path:    ui-month.css
 * desc:    月份组件
 * author:  zhaolei,erik
 * date:    $Date: 2011-04-27 12:15:29 +0800 (周三, 27 四月 2011) $
 */

.ui-month {
    width:190px;
    text-align:center;
}

.ui-month table {
    background:#FFF;
    border:1px solid #D3DDE9;
}

.ui-month-title {
    width:27px;
    height:22px;
    line-height:22px;
    background:#F5FAFF;
    color:#999;
}

.ui-month-item,
.ui-month-virtual {
    width:26px;
    height:22px;
    line-height:22px;
    border:1px solid #D3DDE9;
    cursor:pointer;
    color:#369;
}

.ui-month-over {
    background:#FFF4DD;
}

.ui-month-selected {
    background:#FADDA4;
    color:#9D7F46;
    font-weight:700;
}

.ui-month-virtual {
    color:#ccc;
    cursor:default;
}


/**
 * 白灰色调样式
 * added by lixiang, 2011.03.24
 *
 */
 

.skin-white-mcal-month {
    font-size: 13px;
    border: 1px solid #CCCED4;
    width: 210px;
}

.skin-white-mcal-month table {
    border: 0px none;
    border-top: 1px solid #FFFFFF;
}



.skin-white-mcal-month-title {
    background: #F1F1F1;
    color: #666666;
    height: 21px;
    line-height: 21px;
    text-align: center;
    width: 30px;
}

.skin-white-mcal-month-virtual,
.skin-white-mcal-month-item {
    border: 0px none;
    border-bottom: 1px solid #F1F1F1;
    height: 21px;
    line-height: 21px;
    width: 29px;
    text-align: center;
}



.skin-white-mcal-month-virtual {
    cursor: default;
    color: #888888;
}

.skin-white-mcal-month-item {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #0033CC;
    cursor: pointer;

}

.skin-white-mcal-month-over {
    background:#E4EAF9;
}

.skin-white-mcal-month-selected {
    background: none repeat scroll 0 0 #FFF6BD;
    color: #333333;
    font-weight: bold;
}

/** 白灰色调样式 end **/