/*
 * dn-web
 * Copyright 2011 Baidu Inc. All rights reserved.
 * 
 * path:    ui-mcal.css
 * desc:    多日历组件
 * author:  zhaolei,erik
 * date:    $Date: 2011-04-27 12:15:29 +0800 (周三, 27 四月 2011) $
 */

/* 清除浮动 */
.ui-mcal-itemshow,
.ui-mcal-foot,
.ui-mcal-body {
    zoom:1;
}

.ui-mcal-itemshow:after,
.ui-mcal-foot:after,
.ui-mcal-body:after {
    content:"\0020"; 
    display:block;
    height:0; 
    visibility:hidden; 
    clear:both;
}

/**
 * 外围容器
 */
.ui-mcal {
    background:#FFF;
    color:#333;
    border:1px solid #7e9db9;
    width:198px;
    height:18px;
    cursor:pointer;
}

.ui-mcal-hover,
.ui-mcal-press,
.ui-mcal-active {
    border:1px solid #edbb72;
}

.ui-mcal-show {
    float:left;
    width:170px;
    height:18px;
    line-height:18px;
    padding-left:3px;
}

/**
 * 图标
 */
.ui-mcal-point {
    height:18px;
    width:21px;
    background:url(/assets/img/BlockSprites.png) no-repeat -179px -333px;
    float:right;
    cursor:pointer;
}

/**
 * 弹出层
 */
.ui-mcal-layer {
    width:395px;
    color:#567BA0;
    text-align:center;
    border:1px solid #D3DDE9;
    position:absolute;
    z-index:50;
    background:#fff;
}

/**
 * 开始时间选取
 */
.ui-mcal-begin {
    float:left;
    width:190px;
}

/**
 * 结束时间选取
 */
.ui-mcal-end {
    float:right;
    width:190px;
}

/**
 * 底部按钮容器
 */
.ui-mcal-foot {
    background:#DFEBF7;
    padding:4px 10px;
    clear:both;
}

.ui-mcal-foot .ui-button {
    margin-right:5px;
}

/**
 * 日历月份外围容器
 */
.ui-mcal-body {
    margin:5px;
}

/**
 * 月份选择
 */
.ui-mcal-month {
    border-width:0 1px;
    border-style:solid;
    border-color:#D3DDE9;
    padding-top:3px;
}

.ui-mcal-month table {
    width:188px;
}
.ui-mcal-month td {
    border-bottom:3px solid #87A9CB;
    width:30px;
    height:22px;
    line-height:22px;
    cursor:pointer;
}

/**
 * 选中月份
 */
.ui-mcal-mactive {
    background:#87A9CB;
    color:#FFF;
    font-weight:700;
}

/**
 * 月份、年份选择箭头
 */
.ui-mcal-prev,
.ui-mcal-next {
    background-image:url(/assets/img/BlockSprites.png);
    background-repeat: no-repeat;
    display:block;
    width:6px;
    height:9px;
    overflow:hidden;
    cursor:pointer;
}
.ui-mcal-prev {
    background-position:-172px -333px;
}
.ui-mcal-next {
    background-position:-172px -342px;
}

/**
 * 选择上一月、下一月
 */
.ui-mcal-prev-td .ui-mcal-prev {
    border-width: 7px 6px 6px 7px;
    border-style:solid;
    border-color:#FFF;
}

.ui-mcal-next-td .ui-mcal-next {
    border-width: 7px 7px 6px 6px;
    border-style:solid;
    border-color:#FFF;
}

td.ui-mcal-prev-td,
td.ui-mcal-next-td {
    width:19px;
}


/**
 * 年份选择
 */
.ui-mcal-year {
    border:1px solid #D3DDE9;
    background:#E4EFFA;
    position:relative;
    height:28px;
    line-height:28px;
    clear:both;
    zoom:1;
}

.ui-mcal-year .ui-mcal-prev,
.ui-mcal-year .ui-mcal-next {
    border:3px solid #E4EFFA;
    position:absolute;
    top:5px;
}

.ui-mcal-year .ui-mcal-prev {
    left:45px;
}
.ui-mcal-year .ui-mcal-next {
    right:45px;
}

/**
 * 日期输入区
 */
.ui-mcal-itemshow {
    padding-bottom:5px;
}

.ui-mcal-label {
    float:left;
    display:inline;
    height:20px;
    line-height:20px;
    margin-right:5px;
}
.ui-mcal-input {
    font-family:STHeiti, SimSun;
    border:1px solid #7E9DB9;
    font-size:12px;
    padding:1px 2px;
    width:90px;
    height:16px;
    line-height:16px;
    float:left;
}