/*
 * dn-web
 * Copyright 2011 Baidu Inc. All rights reserved.
 * 
 * path:    ui-button.css
 * desc:    按钮样式
 * author:  zhaolei,erik
 * date:    $Date: 2011-05-06 10:18:53 +0800 (周五, 06 五月 2011) $
 */


.ui-table {
    font-size:12px;
}

.ui-table-head {
    background:#EEE;
}
.ui-table-head-row {
    border-width:1px 1px 1px 0;
    border-color:#CCC;
    border-style:solid;
    background:#EEE;
    zoom:1;
}

/* 表头单元格 */
.ui-table-head th {
    border-width:0 0 0 1px;
    border-color:#CCC;
    border-style:solid;
    font-weight:700;
    color:#666;
}

/* 表头单元格DIV容器 */
.ui-table-thcntr {
    height:27px;
    overflow:hidden;
    background:#EEE;
    border-top:1px solid #F6F6F6;
    border-left:1px solid #F6F6F6;
}

/* 表头单元格标题 */
.ui-table-thtext {
    line-height:28px;
    height:28px;
    margin:0 5px;
    display:inline;
    float:left;
}

/* 表头单元格排序标识 */
.ui-table-thsort {
    margin-top:9px;
    background:url(/assets/img/BlockSprites.png) -192px -260px no-repeat;
    height:10px;
    width:7px;
    font-size:1px;
    overflow:hidden;
    float:left;
}

.ui-table-thasc .ui-table-thsort {
    background-position: -192px -250px;
}

.ui-table-thdesc .ui-table-thsort {
    background-position: -192px -240px;
}

/* 表头单元格帮助标识 */
.ui-table-thhelp {
    height:15px;
    width:15px;
    background:url(/assets/img/BlockSprites.png) no-repeat -155px -315px;
    margin:6px 10px 0 0;
    display:inline;
    float:right;
    cursor:pointer;
    zoom:1;
}

/* 可排序列的表头样式Hover */
.ui-table-thcntr-hover {
    cursor:pointer;
    background:#FDE8C4;
    border-top:1px solid #FEF4E2;
    border-left:1px solid #FEF4E2;
}

/* 可排序列的表头样式sort */
.ui-table-thcntr-sort {
    cursor:pointer;
    background:#FDE8C4;
    border-top:1px solid #FCDCA6;
    border-left:1px solid #FCDCA6;
}

.ui-table-body {
	background:#FFF;
}

/* 行表格样式 */
.ui-table-body table {
    
}

.ui-table-row {
    border-width:0 1px 1px 1px;
    border-style:solid;
    border-color:#CCC;
    background:#FFF;
	zoom:1;
}
.ui-table-row .ui-combobox{
	float:left;
	top:2px;
}

/* 行表格移上 */
.ui-table-row-over table {
    background:#FFF9EE;
}

/* 行表格选中 */
.ui-table-row-selected table {
    background:#FFF4DD;
}

/* 行表格展开 */
div.ui-table-row-unfolded table {
    background:#FDE8C4;
}

/* 表格内容单元格 */
.ui-table-body td {
    padding-left:1px;
}

/* 表格内容单元格容器 */
.ui-table-tdcntr {
    line-height:28px;
    height:28px;
    overflow:hidden;
    padding:0 5px;
}

.ui-table-tdsel {
    height:25px;
    line-height:25px;
    padding-top:3px;
}

.ui-table-tdbreak {
    line-height:18px;
    padding:5px;
    overflow:hidden;
    word-wrap:break-word;
    word-break:break-all;
}

.ui-table-tdcntr a{zoom:1;}
.ui-table-tdcntr .ui-combobox {
    margin-top:4px;
}

/* 定义拖拽鼠标指针 */
.ui-table .ui-table-startdrag,
.ui-table .ui-table-startdrag .ui-table-thcntr {
    cursor:col-resize;
}

/* 拖拽显示的竖线 */
.ui-table-mark {
    height:400px;
    width:1px;
    overflow:hidden;
    background:#000;
    position:absolute;
}


/* 子表格收起展开按钮 */
.ui-table-subentry,
.ui-table-subentry-opened,
.ui-table-subentry-opened-hover {
	overflow:hidden;
    width:11px;
    height:11px;
    background-image: url(/assets/img/BlockSprites.png);
    background-repeat: no-repeat;
    cursor:pointer;
}

.ui-table-subentry {
    background-position: -61px -305px;
}

.ui-table-subentry-opened {
    background-position: -50px -305px;
}

.ui-table-subentry-hover {
    background-position: -39px -305px;
}

.ui-table-subentry-opened-hover {
    background-position: -28px -305px;
}



.ui-table-subrow {
	background:#FFF9EE;
	border-color:#CCC;
    border-style:solid;
    border-width:0 1px 1px;
    padding:1px 0 0 36px;
    zoom:1;
}
.ui-table-subrow .ui-table-head {
    background:transparent;
}
.ui-table-subrow .ui-table-head-row {
    border:0;
    background:transparent;
}
.ui-table-subrow .ui-table-head table {
    border-color:#EBDDC9;
    border-style:solid;
    border-width:0 0 1px;
}
.ui-table-subrow .ui-table-head th {
    color:#CDBD99;
    background:transparent;
    border:0;
}

.ui-table-subrow .ui-table td {
    padding-left:0;
}
    
.ui-table-subrow .ui-table-body {
    background:none;
}

.ui-table-subrow .ui-table-body .ui-table-row{
	background:transparent;
	border:0;
}
.ui-table-subrow .ui-table-thcntr {
    border:none;
	background:transparent;
    font-weight:400;
}
.ui-table-subrow a{padding-left:2px;}
.ui-table-subrow .ui-table-thtext{margin:0;}

.ui-table-subrow .ui-table-tdcntr{padding-left:0;}

.ui-table-subrow .ui-star {
    display:none;
}

.ui-table-subentryfield table {
    border:0;
}

.ui-table-subentryfield table td.ui-table-iconspace {
    width: 14px;
}

.ui-table-thsel {
    padding-top:3px;
    height:24px;
}



/**
 * 白色主题table样式
 * added by lixiang, 2011.03.24
 *
 */
 
.skin-white .ui-table-thtext {
    margin: 0 10px;
 }
.skin-white .ui-table-head .ui-table-head-row {
    border-width: 1px 1px 1px 1px;
}

.skin-white .ui-table-row-over table {
    background: #E4EAFA;
}

div.skin-white .ui-table-row-unfolded table {
    background: none repeat scroll 0 0 #FFFFFF;
}

.skin-white .ui-table-subrow {
    background: none repeat scroll 0 0 #F8FBFF;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 0 1px 1px;
    padding: 0px;
}

.skin-white .ui-table-subrow .ui-table-head table {
    border-width: 0;
}


.skin-white .ui-table-subrow .ui-table-thcntr {
    border: none;
    background: none repeat scroll 0 0 #F8FBFF;
}


.skin-white .ui-table-subrow .ui-table-head .ui-table-head-row,
.skin-white .ui-table-subrow .ui-table-body .ui-table-row {
    border-bottom: 1px solid #EEE;
}


.skin-white .ui-table-subrow .ui-table-tdcntr {
    padding-left: 10px;
}

.skin-white .ui-table-subrow .ui-table-body .ui-table-row-over table {
    background: #E4EAFA;

}

.skin-white .ui-table-subentryfield table td,
.skin-white .ui-table-subrow table td {
    border-left: 0px;
}

.skin-white .ui-table-subentryfield table td.ui-table-iconspace {
    width: 20px;
}


.skin-white .ui-table-subentry, 
.skin-white .ui-table-subentry-opened, 
.skin-white .ui-table-subentry-opened-hover {
    background-image: url("/assets/img/IconSprites2.png");
    height: 14px;
    width: 13px;
}

.skin-white .ui-table-subentry {
    background-position: -14px 0px;
}



.skin-white .ui-table-subentry-opened {
    background-position: 0 0;
}

.skin-white .ui-table-head th {
    border-width: 0;
    font-family: 宋体;
    font-weight: normal;
}

.skin-white .ui-table-thcntr {
    height:36px;
    background:#EEE;
    border-left:none;
    border-right:1px solid #EEE;
}

.skin-white .ui-table-thcntr-hover,
.skin-white .ui-table-thcntr-sort {
    border-top-color: #F6F6F6;
    background: #EEEEEE;
}


.skin-white .ui-table-body td {
    padding-left:0px; 
    border-left: 1px solid #eee;
}

.skin-white .ui-table-body .ui-table-tdbreak table td {
    padding-left:0px; 
    border-left: none;
}


.skin-white .ui-table-thsort {
    background-position: -191px -260px;
    width: 9px;

}

.skin-white .ui-table-tdcntr {
    border-left: 0px solid;
    border-color: #EEE;
    padding: 0 10px;
}

.skin-white .ui-table-tdcntr .list-table-operation li,
.skin-white .ui-table-subrow .ui-table-tdcntr .list-table-operation li {
    background: none;
}

.skin-white .ui-table-tdcntr a,
.skin-white .ui-table-subrow .ui-table-tdcntr a {
    color: #0033cc;
}

.skin-white .ui-table-tdcntr-sort {
    background: #FFF9D7;
}

.skin-white .ui-table-row-over table .ui-table-tdcntr-sort{
    background: #E4EAFA;
}

.skin-white .ui-table-thdesc .ui-table-thsort {
    background-position: -191px -240px;
}

.orangeBar {
   background: url("/assets/img/percentageBar.png") repeat-x;
}

/** 白色主题table end **/