.ui-urlmaker{
	float:left;
}
.ui-urlmaker-box{
    float:none;
	clear:both;
    margin:1px 0 1px;
    border-width:1px;
    border-style:solid;
    border-color: #c5def0;
    padding: 1px;
    width:500px;
}
.ui-urlmaker-box .ui-forminfo-icon{
    left:10px;
}
.ui-urlmaker-box .ui-forminfo-text{
    padding-left:30px;
    
}
.ui-urlmaker-box .form-key{
    padding-left:20px;
    width:75px;
}
.ui-urlmaker .ui-urlmaker-box .form-value{
    width:350px;
}
.ui-urlmaker-box .form-single-line{
    padding-left:20px;
	width:auto;
}

.ui-urlmaker-box .ui-copyarea-flash{
    left:400px;
    bottom:8px;
}

.ui-urlmaker-box .ui-copyarea-main{
    padding-left:0;
}

.ui-urlmaker-box .ui-copyarea-tip{
    left:550px;
}

.ui-urlmaker-box .ui-copyarea-textinput{
    float:none;
}

.ui-urlmaker-box .ui-uploader{
	width:220px;
}
